## Day 78 Lecture 1 Assignment

In this assignment, we will learn about Spark.

Run the cells below to start a spark session.

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [0]:
!pip install -q findspark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python2.7/dist-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python2.7/dist-packages (from pyspark) (0.10.7)

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
from pyspark import SparkContext, SparkConf

In [0]:
APP_NAME = "Day78Assignment"
SPARK_URL = "local[*]"

We will be using the older SparkContext to work with RDDs and gain an understanding of using mapping and reducing functions.

In [0]:
conf = SparkConf().setAppName(APP_NAME)
sc = SparkContext(conf=conf)

The next step is to load our dataset. Our data contains a daily measurement of PM2.5 in Beijing. PM 2.5 is a fine particulate matter which is a pollutant in the air.

In [0]:
pm25 = sc.textFile('/content/gdrive/My Drive/Colab Datasets/pm25beijing.txt')

In [0]:
pm25.take(10)

[u'129',
 u'148',
 u'159',
 u'181',
 u'138',
 u'109',
 u'105',
 u'124',
 u'120',
 u'132']

How many observations do we have in our data? Use the count function to find this number.

In [0]:
# Answer below:
pm25.count()

52561

You may have noticed that our data is stored as a string. This might mean that we have some missing data. Let's print 1000 numbers instead of 10 to confirm this.

In [0]:
# Answer below:
pm25.take(1000)

We can see that the missing values are represented as NA. Replace them with `'0'` using the map function.

In [0]:
#Answer below:
pm25_no_nas = pm25.map(lambda x: x.replace('NA', '0'))

Next, convert all values to floats using the map function.

In [0]:
# Answer below:
pm25_floats = pm25_no_nas.map(float)
pm25_floats.collect()

Count how many days in the time frame had a PM2.5 level higher than 100. Use the filter function and then the count function.

In [0]:
# Answer below:
pm25_100 = pm25_floats.filter(lambda x: x > 100).count()
pm25_100

17761

Calculate the mean pm2.5 for all non zero days.

In [0]:
# Answer below:
pm_mean = pm25_floats.filter(lambda x: x > 0).mean()
pm_mean

95.90424117331818

In [0]:
pm25_floats.mean()

91.93750118909475