<a href="https://colab.research.google.com/github/andheartsjaz/Public/blob/master/Day_28_Lecture_2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 28 Lecture 2 Assignment

In this assignment, we will learn about overfitting and regularization. We will use the king county housing dataset loaded below and analyze the regression from this dataset.

In [0]:
import warnings
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression

import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
king_county = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/kc_house_data.csv')

In [0]:
king_county.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

Perform the same transformations in the previous assignment to meet model assumptions:
1. Transform price and sqft_living by applying the natual log
2. Remove all columns except: log price, bedrooms, bathrooms, log_sqft_living, floors, waterfront
3. Split the data into train and test subsets. 20% of the data should be in the test subset

In [0]:
# Transform answer below:
log_price = np.log(king_county['price'])
log_living = np.log(king_county['sqft_living'])
king_county['price'] = log_price
king_county['sqft_living'] = log_living

print(log_price)
print(log_living)

0        12.309982
1        13.195614
2        12.100712
3        13.311329
4        13.142166
           ...
21608    12.793859
21609    12.899220
21610    12.904459
21611    12.899220
21612    12.691580
Name: price, Length: 21613, dtype: float64
0        7.073270
1        7.851661
2        6.646391
3        7.580700
4        7.426549
           ...
21608    7.333023
21609    7.745003
21610    6.927558
21611    7.377759
21612    6.927558
Name: sqft_living, Length: 21613, dtype: float64

In [0]:
# Remove all columns except log_price, log_living, bedrooms,
# bathrooms, floors and waterfront
log_data = king_county[['price', 'sqft_living', 'bedrooms', 'bathrooms',
                          'floors', 'waterfront']]
log_data.head()

       price  sqft_living  bedrooms  bathrooms  floors  waterfront
0  12.309982     7.073270         3       1.00     1.0           0
1  13.195614     7.851661         3       2.25     2.0           0
2  12.100712     6.646391         2       1.00     1.0           0
3  13.311329     7.580700         4       3.00     1.0           0
4  13.142166     7.426549         3       2.00     1.0           0

In [0]:
# Split data into test and train sets with size = 20%:
X = log_data
y = log_data['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

Apply a ridge regression model with lambda=50 to the data and evaluate by looking at r squared for test and train

In [0]:
linear = LinearRegression()
linear.fit(X_train, y_train)

ridge = Ridge(alpha=50)
ridge.fit(X_train, y_train)

In [0]:
print(f'LinearRegression Train R^2: {linear.score(X_train, y_train):.2f}')
print(f'LinearRegression Test R^2: {linear.score(X_test, y_test):.2f}')

print(f'\nRidge Train R^2: {ridge.score(X_train, y_train):.2f}')
print(f'Ridge Test R^2: {ridge.score(X_test, y_test):.2f}')

LinearRegression Train R^2: 1.00
LinearRegression Test R^2: 1.00

Ridge Train R^2: 1.00
Ridge Test R^2: 1.00

Perform a grid search for the following values of alpha: 1, 5, 10, 100, 500, 1000, 10000 to find the most optimal ridge regression model.

In [0]:
#answer below:
grid = [{'alpha': [1, 5, 10, 100, 500, 1000, 10000]}]
ridge_cv = GridSearchCV(Ridge(), grid)
ridge_cv.fit(X_train, np.log(y_train))

# The best fit is in the best_estimator_ attribute
print(f'selected alpha: {ridge_cv.best_estimator_.alpha}')
ridge_cv.best_estimator_.coef_

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

selected alpha: 1

array([ 7.63326383e-02, -2.77221912e-05,  4.30077884e-05, -2.35794617e-04,
        2.31030726e-04, -2.86888427e-03])

In [0]:
# check the results with the new alpha selected by the GSCV
ridge = Ridge(alpha=1)
ridge.fit(X_train, y_train)

print(f'LinearRegression Train R^2: {linear.score(X_train, y_train):.2f}')
print(f'LinearRegression Test R^2: {linear.score(X_test, y_test):.2f}')

print(f'\nRidge Train R^2: {ridge.score(X_train, y_train):.2f}')
print(f'Ridge Test R^2: {ridge.score(X_test, y_test):.2f}')

LinearRegression Train R^2: 1.00
LinearRegression Test R^2: 1.00

Ridge Train R^2: 1.00
Ridge Test R^2: 1.00