## Day 47 Lecture 2 Assignment

In this assignment, we will perform K-Medoids clustering using responses to a survey about student life at a university.

In [0]:
!pip install pyclustering

Collecting pyclustering
  Downloading https://files.pythonhosted.org/packages/af/0f/6ef1ce5607076132b7ca2727ace4a2b61d81aee7d132aef466cc0c68f548/pyclustering-0.9.3.1.tar.gz (2.6MB)
     |████████████████████████████████| 2.6MB 2.7MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from pyclustering) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from pyclustering) (3.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pyclustering) (1.17.5)
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pyclustering) (6.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyclustering) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyclustering) (2.6.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyclustering) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pyclustering) (2.4.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->pyclustering) (42.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib->pyclustering) (1.12.0)
Building wheels for collected packages: pyclustering
  Building wheel for pyclustering (setup.py) ... done
  Created wheel for pyclustering: filename=pyclustering-0.9.3.1-cp36-none-any.whl size=2599355 sha256=607833885f10c5326f6ea337ed43cd783771e12260b945ffb57a52ccabc714fd
  Stored in directory: /root/.cache/pip/wheels/34/d6/ac/59746c226a35752edcd786d3ab96f9b547a2b70d0fbda92015
Successfully built pyclustering
Installing collected packages: pyclustering
Successfully installed pyclustering-0.9.3.1

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform
from pyclustering.cluster.kmedoids import kmedoids
import random

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [0]:
# answer goes here

data = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv")

In [0]:
data.head()

   Q2-Participated in Societies and Interest Groups  ...  response_id
0                                                 0  ...            1
1                                                 0  ...            2
2                                                 0  ...            3
3                                                 1  ...            4
4                                                 1  ...            5

[5 rows x 36 columns]

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [0]:
# answer goes here
filtered = data.filter(regex="Q5.*")
filtered.head()

   Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                    0  ...                         0
1                                    0  ...                         0
2                                    0  ...                         0
3                                    1  ...                         0
4                                    0  ...                         0

[5 rows x 10 columns]

The pyclustering implementation of kmedoids supports a variety of distance metrics, but they are primarily for numeric data. We will be using SMC/Hamming dissimilarity and precomputing the similarity matrix (an alternative would be to specify a user-defined function, which you are welcome to try in addition).

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

In [0]:
# answer goes here

distance_matrix = squareform(pdist(filtered, metric="hamming"))
distance_matrix_df = pd.DataFrame(squareform(pdist(filtered, metric="hamming")))
distance_matrix_df.head()

   0     1     2     3     4     5     ...  2952  2953  2954  2955  2956  2957
0   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
1   0.0   0.0   0.1   0.6   0.3   0.1  ...   0.3   0.2   0.0   0.0   0.2   0.2
2   0.1   0.1   0.0   0.7   0.4   0.2  ...   0.4   0.3   0.1   0.1   0.1   0.1
3   0.6   0.6   0.7   0.0   0.5   0.5  ...   0.3   0.6   0.6   0.6   0.6   0.8
4   0.3   0.3   0.4   0.5   0.0   0.2  ...   0.2   0.3   0.3   0.3   0.5   0.3

[5 rows x 2958 columns]

Using the dissimilarity matrix, perform kmedoids clustering using k=2. Set the initial medoids randomly. Note that pyclustering expects the distance matrix to be a numpy array; a pandas dataframe may cause errors. 

Which survey responses are chosen as the cluster representatives? Print out the details of these responses.

In [0]:
# answer goes here

idxs = np.arange(distance_matrix.shape[0])

initial_meds = np.random.choice(idxs, 2)

kmeds = kmedoids(distance_matrix, initial_index_medoids=initial_meds)

medoids = kmeds.get_medoids()
print("Medoids: {}".format(medoids))

filtered.iloc[medoids, :]

Medoids: [1270, 600]

      Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
1270                                    0  ...                         0
600                                     0  ...                         0

[2 rows x 10 columns]

If you run the previous cell a few times, you'll probably notice that the medoids are very sensitive to initialization. A common approach to produce well-separated clusters is to choose initial centroids that are far apart. Re-run the previous process, except with a random pair of centroids that have a dissimilarity of 0.8 or higher. Are the results more stable now? How would you describe the typical clusters you see?

In [0]:
idxs = np.arange(distance_matrix.shape[0])

initial_meds = np.random.choice(idxs, 2)

kmeds = kmedoids(distance_matrix, initial_index_medoids=initial_meds)

medoids = kmeds.get_medoids()
print("Medoids: {}".format(medoids))

filtered.iloc[medoids, :]

Medoids: [1662 2347]

      Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
1662                                    0  ...                         0
2347                                    1  ...                         0

[2 rows x 10 columns]

In [0]:
new_list = []
for i in range(0,len(distance_matrix)):
  for j in range(0,len(distance_matrix)):
  if distance_matrix[i, j] >= 0.8:
    new_list.append(distance_matrix[i, j])

IndentationError: ignored